.cortex {
  border: 1px solid #ccc;
  margin: 1rem;
}

.item {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 460px) {
  .cortex {
    border: 0;
  }
}
