.cortex {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin: 1rem 1rem;
  border: 1px solid #ccc;
}

.askbox {
  flex-grow: 1;
}

.askbtn {
  margin-left: -30px;
  padding: 0.5rem 1rem;
}

.profilewin {
  width: 42px;
  border-radius: 24px;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 460px) {
  .cortex {
    border: 0;
  }
}
