.cortex {
  border: 1px solid #ddd;
  padding: 1rem;
  display: flex;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 3px #eee;
}

.askbox {
  flex-grow: 1;
  margin: 0 0.5rem;
  width: 100%;
}

.profilepic {
  width: 32px;
  border-radius: 15%;
}

@media only screen and (max-width: 500px) {
  .cortex {
    flex-direction: column;
    align-items: center;
  }

  .profilepic {
    width: 64px;
  }

  .askbox {
    margin: 0.5rem 0.5rem;
    width: 100%;
  }
  .askbtn {
    align-self: flex-end;
    width: 100%;
  }
}
