.cortex {
  position: relative;
  padding: 1rem;
  margin: 1rem 1rem;
  border: 1px solid #ccc;
}

.askbox {
  width: 95%;
}

.askbtn {
  position: absolute;
  right: 5%;
}

@media only screen and (max-width: 460px) {
  .cortex {
    border: 0;
  }
}
