.cortex {
}

.answer {
  border-bottom: 1px solid #eee;
  margin: 1rem 0.5rem 0.5rem 2rem;
  padding: 0.5rem;
  border-left: 6px solid steelblue;
}

.readmore {
  display: block;
  text-align: right;
}
