.cortex {
  display: flex;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.replybox {
  flex-grow: 1;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 500px) {
  .cortex {
    flex-direction: column;
    align-items: center;
  }

  .replybox {
    margin: 0.5rem 0.5rem;
    width: 100%;
  }
  .replybtn {
    align-self: flex-end;
    width: 100%;
  }
}
