.cortex {
  display: flex;
}

.logocortex {
  flex-grow: 1;
  display: flex;
}

.logo {
  width: 64px;
}

.logotext {
  display: inline-block;
  margin-left: 0.5rem;
}

.authcortex {
  align-self: flex-start;
}

@media only screen and (max-width: 500px) {
  .cortex {
    flex-direction: column;
    align-items: center;
  }
  .authcortex {
    margin-top: 0.5rem;
    align-self: center;
  }
}

@media only screen and (max-width: 380px) {
  .logocortex {
    flex-direction: column;
    align-items: center;
  }
}
